@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
}
<link href="~/css/ctsp.css" rel="stylesheet" />
<div class="product-detail-container">
    <div class="row">

        <div class="col-md-6">
            <img src="~/img/aonam.png" alt="Tên sản phẩm" class="product-image">
        </div>

        <div class="col-md-6 product-info">
            <h1 class="product-title">Áo thun trắng</h1>
            <p class="product-site">Site: M</p>
            <p class="product-hieu">Thương hiệu: TWIN</p>
            <p class="product-chatlieu">Chất liệu: Xi măng</p>
            <p class="product-from">Xuất xứ: VIET NAM</p>
            <p class="product-price">Giá: 1.000.000 VND</p>
            <p class="product-description">Mô tả: Sản phẩm không phải là thuốc không thể thay thế thuốc chữa bệnh</p>
            <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>