@{
    ViewData["Title"] = "Nam";
}
<link href="~/css/sanpham.css" rel="stylesheet" />
<div class="container mt-4">
    <h2>Đồ Nam</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="product-card">
                <a class="nav-link" asp-controller="Home" asp-action="ChiTietSanPham"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <a href="chitietsanpham.html"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <a href="chitietsanpham.html"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <a href="chitietsanpham.html"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <a href="chitietsanpham.html"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <a href="chitietsanpham.html"><img src="~/img/aonam.png" alt="Classic Spring"></a>
                <div class="card-body">
                    <h5>Áo thun trắng</h5>
                    <p>$120.00</p>
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>