
.navbar {
    background-color: gray;
}

.footer {
    background: #111;
    color: #fff;
    padding: 40px 0;
    width: 100%;
    margin-top: auto;
}
.footer .container {
        display: flex;
        justify-content: space-between;
}
.footer h5 
{
   margin-bottom: 20px;
}
.footer ul {
        list-style: none;
        padding: 0;
}
 .footer ul li 
{
        margin-bottom: 10px;
}
.footer ul li a 
{
        color: #fff;
        text-decoration: none;
 }
            
